*{
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.card{
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
}

.phrase{
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 400px;
  padding: 30px;
  margin: auto;
}

h3{
  text-align: right;
}

button{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border-style: none;
  box-shadow: 2px 2px 2px gray;
}

button:hover{
  transform:scale(1.2);
  box-shadow: 0px 0px 5px 4px;
}

